@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

/* Generic */
p {
  color: #333;
  font-size: 0.75rem;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  margin: 1rem;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #ddd;
  background: #333;
}

/* Colors */
.sabbath {
  background: #222;
}

.cast-iron {
  background: #333;
}

.iron {
  background: #444;
}

.grass {
  color: #52bd47;
}

.sabbath p,
.cast-iron p,
.iron p {
  color: #ddd;
}

.sabbath h1,
.cast-iron h1,
.iron h1 {
  color: #ddd;
}

.sabbath a,
.cast-iron a,
.iron a {
  color: #ddd;
}

/* Layout */

/* ↓ targets the intermediary wrapper */
.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.with-sidebar > * > * {
   /*↓ applies to both elements */
  margin: 0.5rem;
}

.sidebar {
  display: flex;
  flex-basis: 20rem;
  flex-grow: 1;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem 1rem;
}

.main {
  /* ↓ grow from nothing */
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

.grid {
  display: grid;
  grid-gap: 1rem;
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

/* Helpers and others */
.center {
  text-align: center;
}

.divider {
  letter-spacing: -10px;
  padding-bottom: 1rem;
  color: #52bd47;
}

.row {
  padding: 2rem;
}

.banner img {
  width: 100%;
}

.philosophy {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.0) ), url(../images/pexels-photo-1262302.jpeg);
  background-size: cover;
}

.fullspan {
  grid-column: 1 / -1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 2rem;
  height: 2rem;
  padding: 0.1rem;
}
