.menu {
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 2rem;
  width: 100%;
}
.menu td {
  padding: 0.5rem;
  text-align: left;
}
.menu td {
  min-width: 10rem;
}

.menu tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 20rem;
}

.menu td:nth-child(3)::after {
  content: '€';
  padding-left: 0.5rem;
}

.menu tbody tr:nth-child(even) {
  background-color: #ddd;
}