/* A reset of sensible defaults */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Extra styles added by the browser */
*:foucs {
  outline: none;
  border: 0;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Animations and transitions */

* {
  transition: all .2s ease-out;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.5ms;
    animation-iteration-count: infinite;
    transition-duration: 0.5ms;
    scroll-behavior: smooth;
  }
}
